<header class="mb-8 flex flex-wrap items-center justify-between gap-6 sm:flex-nowrap">
  <h1 class="grow font-semibold">
    Корзина
  </h1>
  <div>
    <span>
      <%= link_to 'Очистить корзину', destroy_all_cart_cart_items_path(cart),
        class: 'transition-colors hover:text-dark-gray-900',
        data: {
          'turbo-method': :delete,
          'turbo_confirm': 'Вы действительно хотите очистить корзину?',
          'turbo_frame': dom_id(cart)
        } %>
    </span>
  </div>
</header>