<div class="py-20">
  <%= inline_svg_tag 'cart-empty', class: 'mx-auto mb-6' %>
  <div class="text-center">
    <h2 class="font-semibold mb-2">
      В корзине нет товаров
    </h2>
    <h5>
      Добавьте товар из каталога.
    </h5>
  </div>
</div>