@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "OpenSans";
    src: url('OpenSans/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: "OpenSans";
    src: url('OpenSans/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: "OpenSans";
    src: url('OpenSans/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
  }

  html {
    font-family: "OpenSans", system-ui, sans-serif;
  }

  turbo-frame, turbo-stream {
    display: contents;
  }

  h1 {
    font-size: 28px;
    line-height: 40px;
    color: theme('colors.dark.gray.900');
  }

  h2 {
    font-size: 22px;
    line-height: 32px;
    color: theme('colors.dark.gray.900');
  }

  h4 {
    font-size: 16px;
    line-height: 24px;
    color: theme('colors.dark.gray.900');
  }

  h5 {
    font-size: 14px;
    line-height: 20px;
    color: theme('colors.dark.gray.800');
  }

  /* Body-1 */
  p {
    font-size: 16px;
    line-height: 24px;
    color: theme('colors.dark.gray.900');
  }

  /* Body-2 */
  span {
    font-size: 14px;
    line-height: 20px;
    color: theme('colors.dark.gray.700');
  }

  /* Caption-1 */
  small {
    font-size: 13px;
    line-height: 16px;
    color: theme('colors.dark.gray.800');
  }
}