<header class="mb-8 border-b border-light-gray-300 px-5 py-3">
  <div class="container mx-auto max-w-[992px]">
    <div>
      <a class="inline-block transition-transform hover:scale-110" href="#">
        <%= inline_svg_tag('logo') %>
      </a>
    </div>
  </div>
</header>
